/* -------ОБНУЛЕНИЕ СТИЛЕЙ -------- */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}

html,
body {
	height: 100%;
}
body {
	line-height: 1;
	background-color: grey;
}
footer {
	height: 250px;
}
.wrapper {
	min-height: 100%;
}


/* -------ОБНУЛЕНИЕ СТИЛЕЙ -------- */
h2 {
	font-size: 30px;
	text-align: center;
	padding: 20px;
}
p {
	text-align: center;
}
.span1 {
	height: 100px;
	width: 300px;
	margin: 10px auto;
	padding: 20px;
	background-color: indianred;
	display: block;
	text-align: center;
	vertical-align: middle;
}

.block1 {
	background-color: indianred;
	padding: 20px;
	height: 100px;
	width: 300px;
	display: inline-block;
	text-align: center;
}
.div2 {
	text-align: center;
}
.block2{
	background-color: indianred;
	display: inline;
}

.block3,
.block4,
.block5 {
	height: 100px;
	width: 300px;
	text-align: center;
	margin: 10px auto;
}

.block3{
	background-color: sienna;
}

.block4{
	background-color: slateblue;
}

.block5{
	background-color: seagreen;
}
.div3 {
	width: 500px;
	margin: 0px auto;
}
.block6,
.block7,
.block8 {
	height: 100px;
	width: 300px;
	text-align: center;
}	
.block6 {
	background-color: sienna;
	margin: 0 0 0 0;
}
.block7 {
	background-color: slateblue;
	margin: -30px 0 0 30px;
}
.block8 {
	background-color: seagreen;
	margin: -30px 0 0 60px;
}

.div4 {
	background-color:seagreen;
	padding: 100px;
	width: 500px;
	margin: auto;
}

.block9 {
	background-color: indianred;
	padding: 20px;
	height: 100px;
	width: 300px;
	margin: 10px auto;
}

.div5 {
	background-color: sienna;
	margin: auto;
	padding: 50px;
	max-width: 1000px;
	min-width: 800px;
	max-height: 300px;
	min-height: 150px;
	overflow: hidden;
}

.div6 {
	background-color: slateblue;
	margin: auto;
	padding: 50px;
	max-width: 1000px;
	min-width: 800px;
	max-height: 300px;
	min-height: 150px;
	overflow: auto;
}